<div class="container --ocean">
  <div class="row">
    <h1>Master the Art of Crafting Responsive Web Apps like a Pro!</h1>
    <p>
      A must-have DevTool for all web developers that will make your job easier.
      And it's free and open source too! 🎉 Download Now
    </p>
  </div>
</div>
<div class="container --night">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --sunset">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --synthwave">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --grass">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --purple">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --peach">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
