<div class="container --ocean">
  <div class="row">
    <h1>
      Master the Art of <span class="--other">Crafting Responsive</span> Web
      Apps like a Pro!
    </h1>
    <p>
      A must-have DevTool for all web developers that will make your job easier.
      And it's free and open source too! 🎉 Download Now
    </p>
    <br />
    <br />
    <a
      mat-flat-button
      href="{{ data_end.url }}"
      color="{{ data_end.color }}"
      class="btn-rounded"
      >{{ data_end.label }}</a
    >
  </div>
</div>
<div class="container --night">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --sunset">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --synthwave">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --grass">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --purple">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container --peach">
  <div class="row">
    <div class="col-md-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
