@use './../../../assets/styles/media-query.scss' as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
}

@include mobile-media {
  h1 {
    color: var(--color-primary);
  }
}

@include tablet-media {
  h1 {
    color: var(--color-accent);
  }
}

@include desktop-media {
  h1 {
    color: var(--color-warn);
  }
}
