.button-rounded {
  border-radius: 25% / 50%;
}

.btn-color-white {
  color: var(--color-white) !important;
}

.btn-color-primary {
  color: var(--color-primary) !important;
}
.btn-colot-accent {
  color: var(--color-accent) !important;
}
.btn-color-warning {
  color: var(--color-warn) !important;
}
