@use './../../../assets/styles/media-query.scss' as *;

.sidenav-container {
  height: 100%;
}

.mat-toolbar {
  background-color: transparent;
}

.container-menu {
  position: fixed;
  justify-content: space-between;
  top: 0;
  align-items: center;
  padding-right: 5rem;
  padding-left: 5rem;
  width: 100%;
}
.container-menu > div {
  display: flex;
  align-items: center;
}

.container-menu > div > img {
  width: 50px;
  height: 50px;
}
.sidenav {
  width: 15rem;
}

.sidenav .mat-toolbar {
  color: var(--color-primary);
}

.mat-mdc-list-item {
  border: none;
}

@include mobile-media {
  .container-menu {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .container-menu > div > span {
    padding-right: 1rem;
  }
}

@include tablet-media {
  .container-menu {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .container-menu > div > span {
    padding-right: 1rem;
  }
}
