<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"
    position="end"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (data of data_menu; track data.id) {
        <a mat-list-item href="#">{{ data.label }}</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="container-menu">
      <div>
        <span>{{ '{ dev: F.L.C }' }}</span>
        @if (
          (currentBreakpoint$ | async) === 'Large' ||
          (currentBreakpoint$ | async) === 'XLarge'
        ) {
          @for (data of data_menu; track data.id) {
            <app-button
              button_name="{{ data.label }}"
              (click)="drawer.toggle()"
              btn_class_color_text="btn-color-white"
            ></app-button>
          }
        }
      </div>
      <div>
        <app-button
          button_name="Download Now"
          (click)="drawer.toggle()"
          btn_class_color_text="btn-color-white"
        ></app-button>
        @if (
          (currentBreakpoint$ | async) === 'Medium' ||
          (currentBreakpoint$ | async) === 'Small' ||
          (currentBreakpoint$ | async) === 'XSmall'
        ) {
          <app-button
            (click)="drawer.toggle()"
            button_name_icon="menu"
            btn_class_color_text="btn-color-white"
          ></app-button>
        }
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
