@use './../../../assets/styles/media-query.scss' as *;

.sidenav-container {
  height: 100%;
}

.mat-toolbar {
  background-color: transparent;
}

.container-menu {
  position: fixed;
  justify-content: space-between;
  top: 0;
  align-items: center;
  padding-right: 5rem;
  padding-left: 5rem;
}

.container-menu > div {
  display: flex;
  align-items: center;
}

.container-menu > div > span {
  color: var(--color-white);
  padding-right: 5rem;
}

.sidenav {
  width: 15rem;
}

.sidenav .mat-toolbar {
  color: var(--color-primary);
}

@include mobile-media {
  .container-menu {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@include tablet-media {
  .container-menu {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
