<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"
    position="end"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (item_start of data_start; track item_start.id) {
        <button mat-list-item (click)="openNewBusiness(item_start.url)">
          {{ item_start.label }}
        </button>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="container-menu">
      <div>
        <span>
          {{ '{ dev: F.L.C }' }}
        </span>
        @if (
          (currentBreakpoint$ | async) === 'Large' ||
          (currentBreakpoint$ | async) === 'XLarge'
        ) {
          @for (item_start of data_start; track item_start.id) {
            <button
              mat-button
              class="btn-color-white btn-rounded"
              (click)="openNewBusiness(item_start.url)"
            >
              {{ item_start.label }}
            </button>
          }
        }
      </div>
      <div>
        <button
          mat-flat-button
          (click)="openNewBusiness(data_end.url)"
          color="{{ data_end.color }}"
          class="btn-rounded"
        >
          {{ data_end.label }}
        </button>
        @if (
          (currentBreakpoint$ | async) === 'Medium' ||
          (currentBreakpoint$ | async) === 'Small' ||
          (currentBreakpoint$ | async) === 'XSmall'
        ) {
          <button
            mat-icon-button
            (click)="drawer.toggle()"
            aria-label="Menu"
            class="btn-color-white"
          >
            <mat-icon>menu</mat-icon>
          </button>
        }
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
