@use './../../../assets/styles/media-query.scss' as *;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}
.mat-toolbar {
  background-color: transparent;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.container-menu {
  position: fixed;
  justify-content: space-between;

  top: 0;
}

button {
  margin-right: 8px;
}

@include mobile-media {
  .container-menu {
    justify-content: space-between;
  }
}

@include tablet-media {
  .container-menu {
    justify-content: space-between;
  }
}
