<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="'dialog'"
    [mode]="'over'"
    position="end"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="container-menu">
      <div>
        <span>{{ '{ dev: F.L.C }' }}</span>
        @if (
          (currentBreakpoint$ | async) === 'Large' ||
          (currentBreakpoint$ | async) === 'XLarge'
        ) {
          <a href="/features" mat-button>features</a>
          <a href="#" mat-button>testimonials</a>
          <a href="#" mat-button>sponsor</a>
          <a href="#" mat-button>blog</a>
          <a href="#" mat-button>Join Discord</a>
        }
      </div>
      <div>
        <button mat-stroked-button (click)="drawer.toggle()">
          Download Now
        </button>
        @if (
          (currentBreakpoint$ | async) === 'Medium' ||
          (currentBreakpoint$ | async) === 'Small' ||
          (currentBreakpoint$ | async) === 'XSmall'
        ) {
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
